@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    height: 100%;
    overflow: hidden auto;
  }
}

.portfolio-header {
  transform: translateY(0);
  transition: transform 500ms ease-in-out;

  &.show {
    position: fixed;
    top: -50px;
    transform: translateY(50px);
  }
}

.Typewriter__wrapper {
  color: white;
}

.welcome-message {
  /* background: hsla(0, 0%, 100%, 0.05); */
  backdrop-filter: blur(30px);
}

.welcome-message {
  h1 {
    transform: translateY(50px);
    opacity: 0;
  }
}

.text-metallic {
  background: radial-gradient(#ffc59c, #000000);
  background-size: 100% 200%;
  background-position: 50% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 16px;
  padding-bottom: 12px;
}

.chonky-underline {
  &-yellow {
    position: relative;
    z-index: 0;

    &::after {
      transition: all 0.1s ease-in-out;
      content: '';
      position: absolute;
      bottom: 0.5%;
      z-index: -1;
      height: 0.3em;
      width: 104%;
      left: -1%;
      background: linear-gradient(65deg, #ff6b2b 0%, #ff6b2b 100%, rgba(255, 209, 0, 0) 100%);
    }
  }

  &-blue {
    position: relative;
    z-index: 0;

    &::after {
      transition: all 0.1s ease-in-out;
      content: '';
      position: absolute;
      bottom: 0.5%;
      z-index: -1;
      height: 0.3em;
      width: 104%;
      left: -1%;
      background: linear-gradient(65deg, #2c49d8 0%, #2c49d8 100%, rgba(255, 209, 0, 0) 100%);
    }
  }
}

.slick-slider {
  .slick-track {
    display: flex;

    .slick-slide {
      height: auto;
      display: flex;
    }
  }

  .slick-arrow {
    transform: scale(2);

    &::before {
      content: url('/arrow-black.svg');
    }

    &.slick-prev {
      transform: scaleX(-1) scale(2);
    }
  }
}

.dark {
  .text-metallic {
    background: radial-gradient(#eff1ff, #000000);
    background-size: 100% 200%;
    background-position: 50% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 16px;
    padding-bottom: 12px;
  }

  .slick-arrow {
    &::before {
      content: url('/arrow.svg');
    }
  }
}

.fade-in {
  animation: fade-in-hero 1.5s ease-out 0.7s 1 forwards, metallic-shine 5s ease-in 1s infinite;
}

@keyframes fade-in-hero {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes metallic-shine {
  0% {
    background-position: 50% 100%;
  }
  25% {
    background-position: 50% 110%;
  }
  50% {
    background-position: 50% 150%;
  }
  50% {
    background-position: 50% 110%;
  }
  100% {
    background-position: 50% 100%;
  }
}
